.paniervide {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vw;
  margin-bottom: 32vh;
  margin-top: 10vh;
  @include desk-and-tab-version {
    margin-bottom: 40vh;
  }
  .maintitle {
    margin-bottom: 4vw;
  }
}
.recap {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include desk-and-tab-version {
    width: 95%;
  }
  &__img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    @include desk-and-tab-version {
      display: block;
      max-width: 25%;
      border-radius: 20px 0px 0 20px;
    }
    @include tab-version {
      margin-left: 0.5vw;
    }
  }
  &__ligne {
    position: relative;
    background-color: white;
    @include bordradius;
    width: 100%;
    margin-bottom: 2vw;
    @include desk-and-tab-version {
      display: flex;
      margin-bottom: 1vw;
      justify-content: space-between;
      align-items: center;
    }
    &--quantite,
    &--prixtotal,
    &--prix {
      margin-right: 2rem;
      margin-bottom: 0.7rem;
      margin-top: 2%;
      text-align: right;
    }
    &--quantite {
      @include desk-and-tab-version {
        margin-left: 2rem;
        text-align: center;
      }
      @include desk-version {
        margin-left: 1.5rem;
      }
    }
    &--prixtotal,
    &--prix {
      font-weight: 800;
      padding-bottom: 1rem;
      @include desk-and-tab-version {
        padding-bottom: 0rem;
      }
    }
    &--prixtotal {
      margin-right: 0;
    }
    &--prix,
    &--quantite {
      @include desk-and-tab-version {
        margin-bottom: 4rem;
      }
    }
    &--text p {
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;
      margin-left: 1rem;
      @include tab-version {
        margin-left: 2rem;
      }
      @include desk-version {
        margin-left: 1rem;
      }
    }
    &--text p span {
      text-decoration: underline;
    }
    &--final {
      background-color: transparent;
    }
  }
}
.poubelle {
  font-size: 1.1rem;
  padding: 0.3rem 0.5rem;
  color: #353535;
  border-radius: 10px;
  border: 1px $color-secondary solid;
  box-shadow: 1px 1px 5px #c0bfbf;
  position: absolute;
  left: 8%;
  bottom: 5%;
  cursor: pointer;
  &:hover {
    box-shadow: 1px 1px 5px #9b9a9a;
    transform: scale(1.05);
    transition: all 0.2s;
  }
  @include desk-and-tab-version {
    font-size: 1.2rem;
    padding: 0.4rem 0.6rem;
    left: auto;
    right: 4%;
  }
}
.bouton--final {
  display: block;
  width: 100%;
  margin-top: 4vw;
  @include tab-version {
    margin-top: 0vw;
    width: 40%;
    margin-left: 5%;
  }
  @include desk-version {
    margin-top: 0vw;
    width: 40%;
    margin-left: 5%;
  }
}
#viderpanier {
  width: 100%;
  cursor: pointer;
  @include desk-and-tab-version {
    width: 40%;
    margin-right: 5%;
  }
}
.total {
  background-color: white;
  border: 1px darken($color-fond, 10%) solid;
  @include bordradius;
  font-size: 1.4rem;
  font-weight: 800;
  width: 100%;
  margin-top: 2vw;
  margin-bottom: 2vw;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  @include tab-version {
    width: 75%;
  }
  @include desk-version {
    width: 65%;
  }
}

.nomnounours {
  font-weight: 700;
  font-size: 1.1rem;
}

#btncommander {
  cursor: pointer;
}
