.paniervide {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vw;
  .maintitle {
    margin-bottom: 4vw;
  }
}
.recap {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include desk-and-tab-version {
    width: 95%;
  }
  &__img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    @include desk-and-tab-version {
      display: block;
      max-width: 25%;
      border-radius: 20px 0px 0 20px;
    }
    @include tab-version {
      margin-left: 0.5vw;
    }
  }
  &__ligne {
    background-color: white;
    @include bordradius;
    width: 100%;
    margin-bottom: 2vw;
    @include desk-and-tab-version {
      display: flex;
      margin-bottom: 1vw;
      justify-content: space-between;
      align-items: center;
    }
    &--quantite,
    &--prixtotal {
      margin-right: 2rem;
      margin-bottom: 0.7rem;
      text-align: right;
    }
    &--quantite {
      @include desk-and-tab-version {
        margin-left: 2rem;
        text-align: center;
      }
      @include desk-version {
        margin-left: 1.5rem;
      }
    }
    &--prixtotal {
      font-weight: 800;
      padding-bottom: 1rem;
      @include desk-and-tab-version {
        padding-bottom: 0rem;
      }
    }
    &--text p {
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;
      margin-left: 1rem;
      @include tab-version {
        margin-left: 2rem;
      }
      @include desk-version {
        margin-left: 1rem;
      }
    }
    &--text p span {
      text-decoration: underline;
    }
    &--final {
      background-color: transparent;
    }
  }
}
.bouton--final {
  display: block;
  width: 100%;
  margin-top: 4vw;
  @include desk-and-tab-version {
    margin-top: 0;
    width: 58%;
  }
}
#viderpanier {
  width: 100%;
  @include desk-and-tab-version {
    width: 40%;
  }
}
.total {
  background-color: white;
  border: 1px darken($color-fond, 10%) solid;
  @include bordradius;
  font-size: 1.4rem;
  font-weight: 800;
  width: 100%;
  margin-top: 2vw;
  margin-bottom: 2vw;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  @include tab-version {
    width: 65%;
  }
  @include desk-version {
    width: 55%;
  }
}
