.bouton {
  background-color: $color-secondary;
  opacity: 0.8;
  width: 80%;
  color: white;
  line-height: 3rem;
  text-align: center;
  @include bordradius;
  @include ombre;
  @include tab-version {
    width: 50%;
  }
  @include desk-version {
    width: 40%;
    line-height: 3.5rem;
  }
  &:hover {
    @include ombre-hover;
    transform: scale(1.05);
    opacity: 1;
    transition: all 0.3s;
  }
}
.formulaire {
  width: 93%;
  @include tab-version {
    width: 70%;
  }
  @include desk-version {
    width: 50%;
  }
  &__ligne {
    display: flex;
    align-items: center;
    justify-content: center;
    label {
      flex: none;
      line-height: 1.5rem;
      font-weight: 600;
    }
    input {
      flex: auto;
      margin: 0.5rem;
      height: 2rem;
    }
  }
}
button {
  border-color: transparent;
  flex: none;
  outline: none;
  margin-top: 5vw;
}
input {
  @include bordradius;
  border: 1px darken($color-fond, 15%) solid;
  outline: none;
  padding-left: 1rem;
  &:focus {
    border: 2px darken($color-fond, 25%) solid;
    transition: all 0.2s;
    @include ombre;
  }
  &:valid {
    border: 1px rgb(10, 138, 10) solid;
  }

  .invalid {
    /*classe à rajouter en JS quand input non valid*/
    border: 2px rgb(224, 30, 30) solid;
    transition: border 0.2s;
    animation: boutoninvalide 0.1s cubic-bezier(0.4, 0.1, 0.6, 0.9) 2;
  }
}
input[type="checkbox"]:focus {
  box-shadow: 0 0 0 0;
}

.bouton-border {
  background-color: lighten($color-fond, 20%);
  border: 1px $color-secondary solid;
  width: 60%;
  line-height: 2rem;
  text-align: center;
  margin-top: 6vw;
  margin-bottom: 6vw;
  @include bordradius;
  @include tab-version {
    width: 35%;
    margin-top: 4vw;
    margin-bottom: 4vw;
  }
  @include desk-version {
    width: 25%;
    line-height: 2.5rem;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
  &:hover {
    @include ombre;
    transform: scale(1.05);
    background-color: white;
    transition: all 0.3s;
  }
}

.invalid {
  /*classe à rajouter en JS quand input non valid*/
  border: 2px rgb(224, 30, 30) solid;
  transition: border 0.2s;
  animation: boutoninvalide 0.1s cubic-bezier(0.4, 0.1, 0.6, 0.9) 2;
}
